@charset "UTF-8";

@media print {
  .tb,
  .sp {
    display: none !important;
  }
}

header {
  @if $header-fixed-pc {
       position: fixed;
//ここから
       @media only print {
           position: inherit;
    }
//ここまで
  }
}
