@charset "UTF-8";

@media print {
  .tb,
  .sp {
    display: none !important;
  }
}

header {
  @media only print {
    position: inherit !important;
  }
}

.l-container {
  overflow: visible !important;
}
