@charset "UTF-8";

@media print {
  .tb,
  .sp {
    display: none !important;
  }
  .l-container {
    overflow: visible !important;
  }
  @if $header-fixed-pc {
    header {
      position: inherit !important;
    }
  }
}
