@charset "UTF-8";
// --------------------------------------------------
// Headings
// --------------------------------------------------
h3 {
}
h4 {
}
h5 {
}

// --------------------------------------------------
// Table
// --------------------------------------------------
.overflow-table {
  overflow-x: auto;
}

.nodrop-table {
  tr {

    th,
    td {
      @media only screen and (max-width: $screen-tb) {
        display: table-cell;
        width: auto !important;
      }
    }

    th {
      @media only screen and (max-width: $screen-tb) {
        white-space: nowrap;
      }
    }
  }
}

.table-wrapper {
  @media only screen and (max-width: $screen-tb) {
    overflow-x: scroll;
    position: relative;
    .swipe {
      position: absolute;
      top: 30%;
      left: 50%;
      z-index: 99;
      display: block;
      width: 80px;
      height: 80px;
      margin: -40px 0px 0px -40px;
      background: url(../img/swipe.png) no-repeat scroll 0px 0px transparent;
      background-size: 80px 80px;
      &.swiping {
        opacity: 0;
      }
    }
  }
}

// --------------------------------------------------
// Common
// --------------------------------------------------
//全体ホバー
.hover-all {
  position: relative;

  >a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
//電話番号
a[href^="tel:"] {
  text-decoration: none;
  color: $base-font-color;
  @media only screen and (min-width: $screen-pc-min) {
    pointer-events: none;
  }
}

//CMS-PDFアイコン設定
.pdf-icon {
vertical-align: middle; 
height:16px;
padding: 0 5px
}

// --------------------------------------------------
// slide-menu
// --------------------------------------------------
body {
  width: 100%;
  &.open {
    position: fixed;
    height: 100%;
    overflow: hidden;
  }
  @if $header-fixed-pc {
    padding-top: $header-height-pc;
  }
  @media only screen and (max-width: $screen-tb) {
    @if $header-fixed-sp {
      position: relative;
      padding-top: $header-height-sp;
    }
    @else {
      padding-top: 0;
    }
  }
}
.slide-menu {
  position: fixed;
  padding-top: $header-height-sp;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 9998;
  box-sizing: border-box;
  background-color: #fff;
  transition: left 0.3s;
  @media only screen and (min-width: $screen-pc-min) {
    display: none;
  }
  body.open & {
    left: 0;
  }
}
